
.q{
background-color: #;
color: black;
text-align: center;
}
#abcd{
background-color: #;
color: black;
text-align: center;
}
#abcd1{
background-color: #;
color: black;
text-align: center;
}
y{
background-color: #;
color:white;
text-align: center;
}
.table1{
background-color: #;
color:black;
text-align: center;
}
#xyz{
background-color: #000;
color:red;
text-align: center;
}
#container{
background-color: #;
color: black;
text-align: center;
}
#container99{
background-color: #;
color: black;
text-align: right;
}
#containerx{
background-color: #;
color: black;
text-align:center;
}
#containert3{
background-color: #;
color: black;
text-align:center;
}
#tofsil3{
background-color: #;
color: black;
text-align: center;
}

#container0{
background-color: #888888;
color: black;
text-align: center;
}
#table2{
background-color: #;
color: black;
text-align:left;
 }
 #table3{
 background-color: #;
 color: black;
 text-align:left;
  }
#table5{
background-color: #;
color: black;
text-align: left;
}
#table1{
background-color: #fafafa;
color: black;
text-align: left;
}
#container2{
background-color: #66ffff;
color: black;
text-align: center;
}
#name{
background-color: #;
color: black;
text-align: center;
}
#abcd2{
background-color: #;
color: black;
text-align: center;
}
#container3{
background-color: #66ffff;
color: black;
text-align: center;
}
#porisompod {
background-color: #66ffff;
color: black;
text-align: center;
}
label{
  width:240px;
  display:inline-block;
  text-align: right;
}
