#knapp{
color:red;

}


#k{
    color: blue;
    background-color: grey;
    text-align: center;
}
#lonnUt{
  color:white ;
  background-color: blue;
  text-align: center;

}
#skattUt{
  color: white;
  background-color: red;
  text-align: center;

}
